.work {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 240px;
}

.work__make {
  width: 1090px;
  margin-left: auto;
}

.make__description1 {
  width: 882px;
  height: 260px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 52px;
  color: #aaaaaa;
}

.make__description2 {
  height: 52px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 52px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 135px;
}

.we__item {
    display: flex;
    margin-bottom: 64px;
}

.we__text {
    display: inline;
    width: 530px;
    height: 240px;
    margin-top: 216px;
    margin-left: 110px;
}

.after__tittle {
height: 72px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 36px;
color: #1A1A1A;
}

.after__description {
height: 144px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #AAAAAA;
margin-top: 27px;
}
